[user]
	name = Diego Porto
	email = diego.cfporto@gmail.com
	signingkey = ~/.ssh/github.key

[init]
	defaultBranch = main

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[commit]
	gpgsign = true

[core]
	editor = nvim --clean

[gpg]
	format = ssh

[pull]
	rebase = true

[push]
	default = simple

[difftool]
	prompt = false

[alias]
	ca = commit -a
	cm = commit -m
	cam = commit -am
	d = diff
	dc = diff --cached
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	p = push
	st = status

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[url "ssh://git@github.com"]
	insteadOf = "https://github.com"
